
  /* Override Bootstrap button hover effect */
  .btn-outline-dark:hover {
    background-color: transparent;
    color:red; /* Change this color to match your desired text color */
    border-color: #0c0c0c; /* Change this color to match your desired border color */
  }
 
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
